.form-full-width {
  width: 100%;

  p-floatlabel {
    display: block;
    width: 100%;
    margin-bottom: 1rem;

    input {
      width: 100%;
      margin: 5px 0px;
    }
  }
}

.footer-form {
  width: 100%;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

p-button {
  width: 100%;
  display: block;

  @media (min-width: 600px) {
    width: 100px;
  }
}

.footer-form ::ng-deep .p-button {
  width: 100%;
}

small {
  color: rgb(255, 68, 0);
}

::ng-deep p-progress-spinner circle {
  stroke: #007bff; /* cor azul, substitua pela sua */
}

