
<form action="" class="form-full-width">
<p-floatlabel variant="on">
    <input pInputText id="over_label"  autocomplete="off" />
    <label for="over_label">Nome</label>
</p-floatlabel>

<p-floatlabel variant="on">
    <input pInputText id="over_label"  autocomplete="off" />
    <label for="over_label">Email</label>
</p-floatlabel>

<p-floatlabel variant="on">
    <input pInputText id="over_label"  autocomplete="off" />
    <label for="over_label">CPF</label>
</p-floatlabel>

<p-floatlabel variant="on">
    <input pInputText id="over_label"  autocomplete="off" />
    <label for="over_label">Data de Nascimento</label>
</p-floatlabel>


<p-floatlabel variant="on">
    <input pInputText id="over_label"  autocomplete="off" />
    <label for="over_label">Contato</label>
</p-floatlabel>


</form>

