.modal-footer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 7px;

  ::ng-deep .p-button-label {
    font-size: 0.9rem;
    color: #fff;
  }
}

  .modal-body {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background: none;

      overflow: visible !important;
  }

