<p-toast></p-toast>

<main>
  <div class="container-table">
    <app-description-header-page
      title="Listagem de Clientes"
      redirect="/cadastro-cliente"
      buttonName="Adicionar Novo Cliente"
    />

    <form action="" [formGroup]="form" class="form-search">
      <div class="grid">
        <div class="col-12 md:col-4 mt-2">
          <p-floatlabel>
            <input
              pInputText
              id="nome"
              formControlName="nome"
              autocomplete="off"
              class="w-full"
            />
            <label for="nome">Nome</label>
          </p-floatlabel>
        </div>
        <div class="col-12 md:col-4 mt-2">
          <p-floatlabel>
            <input
              pInputText
              id="nome"
              formControlName="cpf"
              autocomplete="off"
              mask="000.000.000-00"
              class="w-full"
            />
            <label for="nome">CPF</label>
          </p-floatlabel>
        </div>
        <div class="col-12 md:col-4 mt-2 flex gap-2">
          <p-button
            type="button"
            (onClick)="buscarFiltro()"
            icon="pi pi-search"
            label="Buscar"
            iconPos="left"
          ></p-button>
          <p-button
            type="button"
            (onClick)="limparFiltro()"
            icon="pi pi-times"
            label="Limpar Filtros"
            iconPos="left"
          ></p-button>
        </div>
      </div>
    </form>

    <div class="table-container">
      <app-cliente-table
        [clientes]="(clientesSubject | async) || []"
        (openModalEdit)="openModalEdit($event)"
        (openModalDelete)="popup.exibir($event)"
      ></app-cliente-table>
    </div>
  </div>

  <app-popup
    [titulo]="'Excluir Cliente'"
    [mensagem]="'Deseja realmente excluir este cliente?'"
    (confirmar)="deletarCliente($event)"
    (cancelar)="cancelou()"
    #popup
  ></app-popup>

  <app-modal
    [visible]="visibleModal"
    [modal]="true"
    [closable]="true"
    [width]="'50rem'"
    [header]="'Editar Cliente'"
    (onHide)="visibleModal = false"
  >
    <app-cliente-form
      [idCliente]="idCliente"
      [IsEdit]="true"
      (onCloseModal)="visibleModal = false"
      (onRefreshClients)="getFromCache()"
      (onEditSuccess)="onEditSuccess()"
    />
  </app-modal>
</main>
